@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* transition: all 2s; */

  /* border: black 1px solid; */
}

::-webkit-scrollbar {
    display: none;
}

html, body {
  overflow: hidden;
  /* transition: all 2s; */
}

#firstcontainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: black;
}

#typewriteTextt, #typewriteText2, #typewriteText3, #typewriteText4 {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

#typewriteText4 {
  font-size: 9vmin;
  margin: 5vmin 10vmin 5vmin 10vmin;
}

.typewriteSelected{
  font-family: 'Roboto Mono', monospace;
  color: #e34034;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2vmin;

  height: 100vh;
  width: 100vw;
}


.button, .button2, .button3 {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  border: 0.3vmin solid #2e2e2e;
  color: black;
  padding: 1vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vmin;
  cursor: pointer;
  bottom: 30vmin;

  margin-top: 10vmin;

}

.button {
    animation: appear 14s;
}

.button2 {
    animation: appear 20s;
}

.button3 {
  margin-right: 5vmin;
  animation: appear 17s;

}

.button:active, .button2:active, .button3:active {
  transform: translate(0.2vmin,0.5vmin);
}

#button4:active {
  transform: translate(0.2vmin,0.5vmin);

}

#button4 {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  border: 0.3vmin solid #2e2e2e;
  color: black;
  padding: 1vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vmin;
  cursor: pointer;
  bottom: 30vmin;

  margin-top: 10vmin;
}

.text {
  font-family: 'Roboto Mono', monospace;
  color: black;


}

#instructionProfile {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  99% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }

}

#buttoncontainer {
  display: flex;
  flex-direction: row;

  margin-top: 10vmin;


}

#fillin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 50vh;

  background-color: white;
  /* opacity: 0.5; */

}

#input {
  box-shadow: 0.4vmin 0.5vmin;
  height: 5vmin;
}

.navigationBar{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2vmin;
  position: fixed;
  align-items: center;
  padding: 1.5vmin 0 1.5vmin 0;
  box-shadow: 0 0.3vmin #eee;
}

.logo {
  grid-column-start: 3;
  font-family: 'Kaushan Script', cursive;
  font-size: 3vmin;

}

.icons {
  grid-column-start: 9;
  background-color: #eee;
}

.menu {
  padding: 2vmin 2vmin 2vmin 2vmin;
}

#feed {
  grid-column-start: 3;
  grid-row-start:2;

  margin: 15vmin 5vmin 0 0;

  overflow-y: scroll;




}


.feedbox {
  width: 100%;
  display:flex;
  flex-direction: column;

  margin-bottom: 10vmin;
  background-color: white;
  border: 0.3vmin solid #eee;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vmin;

  align-items: center;

}

.profilePic {
  width: 5vmin;
  height: 5vmin;
  object-fit: cover;

  margin-left: 2vmin;
  margin-right: 2vmin;

}

.name {
  font-family: 'Jost', sans-serif;
  font-size: 2vmin;
}

.feedImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  width: 100%;
  /* box-shadow: 0 0.2vmin #eee; */

}

.glide__slide img {
  width: 100%;
}


.sideProfile {
  display: flex;
  flex-direction: row;

  grid-column-start: 9;
  grid-row-start: 2;

  height: 10vmin;

  margin-top: 15vmin;

  /* border: 0.3vmin solid #eee; */

  align-items: center;
}

.instructions {
  display: flex;
  flex-direction: column;

  grid-column-start: 9;
  grid-row-start: 2;

  height: 30vmin;

  border: 0.3vmin solid #eee;


  margin-top: 25vmin;
}

#name {
  height: 5vmin;
  width: 85%;
  border: none;
  margin-top: 2vmin;
}

#commentButton {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: transparent;
  font-weight: bold;
  /* border: 0.3vmin solid #2e2e2e; */
  color: blue;
  padding: 1vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vmin;
  cursor: pointer;
  bottom: 30vmin;
  border: none;
  margin-left: 0.3vmin;
}

.comments {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 -0.2vmin #eee;

}

.fa-heart {

  margin: 0.5vmin 0 0.5vmin 1vmin;
}

#likeButton {
  color: #7a7979;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 1.5vmin; */
  cursor: pointer;
  /* bottom: 30vmin; */
  width: 4vmin;
}

#likeButton:hover {
  color: tomato;
}

.nameID {
  margin: 3vmin 1vmin 3vmin 1vmin;
  }

.captionContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
}

#commentsOutput {
  margin-left: 1vmin;
  margin-bottom: 1vmin;
}


.item-2x {
  grid-column-end: span 2;
}

.item-6x {
  grid-column-end: span 6;
}

.item-8x {
  grid-column-end: span 8;
}

.item-12x {
  grid-column-end: span 12;
  position: fixed;
}
